*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --transform: scale(0.8);
  --speed: 2s;
  --stem: #ccd5ae;
  --flower: 300;
  --color-text: #655a7c;
  --color-bg: #f1dede;
  --color-link: #f28482;
  --color-link-hover: #f28482;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow: hidden;
  font-family: "basic-sans", Arial, sans-serif;
  font-weight: 300;
  position: relative;
}

main {
  height: 100vh;
  background-image: url("./floral.jpeg");
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.link {
  font-size: 1.2rem;
}

a {
  color: var(--color-link);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: var(--color-link);
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
  font-family: "tangerine", cursive;
  font-weight: 400;
}
